@page
@model GeoProfs.Pages.Calendars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CalendarEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.Type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CalendarEvent.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
