@page
@model GeoProfs.Pages.AbsenceProposals.IndexModel

@{
    ViewData["Title"] = "Absence Proposals";
}

<h1>Absence Proposals</h1>

<p>
    <a asp-page="Create">Create New Proposal</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

@*show absence left for employees*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceProposals[0].Title)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ReasonSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.AbsenceProposals[0].ReasonAbsence)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceProposals[0].Reasoning)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StartDateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.AbsenceProposals[0].StartAbsenceDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceProposals[0].EndAbsenceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceProposals[0].Accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceProposals[0].Rejected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AbsenceProposals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonAbsence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reasoning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAbsenceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAbsenceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rejected)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AbsenceProposalID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AbsenceProposalID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AbsenceProposalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
